@use '@/styles/vars' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  font-size: 16px;
  padding: 12px 54px 12px 16px;
  height: 42px;
  color: #333333;
  border: 1px solid #dddddd;
  border-radius: 12px;
  outline: none;

  &:hover,
  &:focus,
  &:focus-visible {
    border: 1px solid #1f81b9;
  }

  &::placeholder {
    color: #bbbbbb;
  }

  @media (max-width: $xs) {
    font-size: 14px;
    height: 36px;
    padding: 12px 14px;
  }
}

.input .withClearIcon {
  padding-right: 42px;
}

.label {
  font-size: 16px;
  font-weight: 400;

  @media (max-width: $xs) {
    font-size: 14px;
  }
}

.error {
  color: #d44848;
  font-size: 14px;
}

.required {
  color: #d44848;
  margin-left: 4px;
}

.clearIcon {
  transform: rotate(45deg);
  position: absolute;
  right: 18px;
  top: 9px;
  cursor: pointer;
}

.disabled .clearIcon {
  cursor: default;
}
