@use '@/styles/vars' as *;

.input {
  flex: 1;
}

.contactInputs {
  display: flex;
  gap: 16px;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.linkFieldsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
